## arrow up
"\e[A":history-search-backward
## arrow down
"\e[B":history-search-forward

set completion-ignore-case On

TAB:menu-complete
set show-all-if-ambiguous on
set menu-complete-display-prefix on

set skip-completed-text on

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off
